<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!--COLLEGAMENTO CON VUE-->
        <div id="root">

            <!--INIZIO HEADER-->
            <header>
                <div class="header-container">
                    <img src="img/netflix-logo-png-2562.png" alt="">
                </div>
            </header>

            <!--INIZIO CONTAINER DI RICERCA FILM // SEZIONE DINAMICA-->
            <div class="research-container">
                <div class="research-films">
                    <input type="search"  v-model="search_films" placeholder="Inserisci il nome del film" name="" value="">
                    <button type="button" @click="searchTypeFilms" name="button"><i class="fas fa-search"></i></button>
                </div>
            </div>

            <!--CREAZIONE BOX DI OGNI FILM CICLATO ATTRAVERSO IL V-FOR-->
            <div class="films-container">
                <ul v-for="films in list_films" class="box-film">
                    <div class="poster-img">
                        <img :src="getImgPoster(films)">
                    </div>
                    <div class="info-film">
                        <!--CREAZIONE DI UNA CONDIZIONE, CON LA QUALE SE CONSIDERATA VERA ASSEGNERO' IL TITOLO DEL FILM, SE FALSA DELLA SERIE TV-->
                        <li>{{ films.title ? films.title : films.name }}</li>

                        <!--TITOLO ORIGINALE-->
                        <li class="">{{ films.original_title ? films.original_title : films.original_name }}</li>

                        <!--IMPORTAZIONE DINAMICA TRAMITE :SRC, CONCATENAZIONE DEGLI ELEMENTI PER OTTENERE UN PATH DINAMICO DELL'IMMAGINE, ASSEGNANDO AL FILE LO STESSO NOME DEL DATO ORIGINAL_LANGUAGE-->
                        <li class="image-language">
                            <img :src="'img/' + films.original_language + '.png'" alt="">
                        </li>

                        <!--SOSTITUZIONE VALUTAZIONE MEDIA DEL FILM CON STELLE ATTRAVERSO FUNZIONE DI CALCOLO-->
                        <li class="stars-vote">
                            <i v-for="i in avgVoteStar(films)" class="fas fa-star"></i>
                            <i v-for="i in emptyStar(films)" class="far fa-star"></i>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
